<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>paul.annesley.cc</title>
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700" rel="stylesheet">
    <style type="text/css">
      html { padding: 0 1em; }
      body {
        margin: 1em auto;
        max-width: 40em;
        font-family: Lora, serif;
        font-size: 120%;
      }
      #body-home { font-size: 180%; }
      #index-item { margin-bottom: 1em; }
      blockquote {
        margin-left: 1em;
        padding-left: 1em;
        border-left: 8px solid #ccc;
      }
      strong { font-weight: bold; }
      .highlight pre {
        padding: 1em;
        overflow: auto;
      }
    </style>
  </head>
  <body id="body-{{ .Kind }}">
    <div id="content">
      {{- block "main" . }}{{- end }}
    </div>
  </body>
</html>
