{{ define "main" }}
<h1>Paul Annesley</h1>

<p>I help build <a href="https://www.cultureamp.com/">Culture Amp</a>. I'm @pda on <a href="https://twitter.com/pda">Twitter</a>, <a href="https://github.com/pda">GitHub</a> etc. This is a site where I sporadically write about software engineering and the like.</p>

<div id="index">
  {{ range (.Data.Pages).GroupByDate "2006" }}
    <h2>{{ .Key }}</h2>
    {{ range .Pages -}}
    <div id="index-item"><a href="{{ .Permalink }}">{{ .Title }}</a>{{ if .Draft }} (draft){{ end }}</div>
    {{ end -}}
  {{ end }}
</div>
{{ end }}
